<main>
    <article>
        <h1>{{title}}</h1>
        <dl>
            <dt>Doctor Name</dt>
            <dd> {{Doctor.First_Name}},{{Doctor.Last_Name}}</dd>
            <dt>Address</dt>
            <dd>{{#with Doctor.Address}}</dd>
            <dd>{{street}}, {{city}}, {{state}}, {{zip}}</dd>
            {{/with}}
            <dt>Speciality</dt>
            <dd>{{Doctor.Speciality}}</dd>
            <dt>Reviews</dt>
            <ol>
                    {{#each Doctor.Reviews}}
                    <li>{{Reviews}}</li>
                    {{/each}}
            </ol>
        </dl>
    </article>
<section>
   <a class="new" href="/">Search another doctor</a>
</section>
</main>