<link href="../public/main_styles.css" rel="stylesheet" type="text/css" />
<main>
    <article>
        <h1>{{title}}</h1>
        <dl>
            <dt>Pharmacy Name</dt>
            <dd> {{pharmacy.name}}</dd>
            <dt>Address</dt>
            <dd>{{#with pharmacy.address}}</dd>
            <dd>{{street}}, {{city}}, {{state}}, {{zip}}</dd>
            {{/with}}
            <dt>Available_Medicine</dt>
            <dd>
                <ul>
                    {{#each pharmacy.available_medicine}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </dd>
            <dt>Reviews</dt>
            <ol>
                    {{#each pharmacy.reviews}}
                    <li>{{review}}</li>
                    {{/each}}
            </ol>
        </dl>
    </article>
<section>
   <a class="new" href="/">Search another Pharmacy</a>
</section>
</main>
